.register{
    width: 100vw;
    height: 100vh;
    background-color: rgb(243, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 75%;
}

.registerLeft{
    width: 60%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registerLeftTitle{
    color: #244167;
    margin-bottom: 10px;
    font-weight: 800;
}

.registerLeftDesc{
    font-weight: 500;
    font-size: 24px;
}

.registerRight{
    width: 60%;
    height: 85%;
    display: flex;
   align-items: center;
   justify-content: center;
}

.registerForm{
    width: 80%;
    height: 85%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0,0, 0.68);
box-shadow: 0px 0px 16px -8px rgba(68, 68, 68, 0.68);
position: relative;
padding-top: 20px;
padding-bottom: 20px;
}

.registerInput{
    width: 80%;
    height: 10%;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 10px;
}

.registerInput:focus{
    outline: none;
}

.registerButton{
    width: 83%;
    height: 13%;
    border-radius: 5px;
    background-color: rgb(34, 111, 227);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
}


.registerRegistrationButton{
    width: 60%;
    height: 13%;
    border-radius: 5px;
    background-color: rgb(43, 216, 17);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
}