.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: #244167;
    display: flex;
    align-items: center;
    position: sticky;
    top:0
}

.topbarLeft{
   flex:3
}

.logo{
    color:white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
}
.topbarCenter{
    flex: 5;
}

.searchbar{
    background-color: white;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    

}

.searchInput{
    width: 85%;
    border: none;
}

.searchInput:focus{
outline: none;
}

.searchIcon{
    font-size: 25px !important;
    margin-left: 16px;
}

.topbarRight{
   flex:4;
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-size: 16px;
   color: white;
}

.topbarLink{
    margin-right: 10px;
    font-size: 14px;
}

.topbarIcons{
    display: flex;
    color: white;
    margin-left: 5;
}

.topbarIconItems{
margin-right: 10px;
cursor: pointer;
position: relative;
}

.topbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: rgb(228, 182, 65);
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.topbarImg{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}